{
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color:lightblue;
}


header {
  padding: 5px;
  text-align: left;
  font-size: 15px;
}


section {
  display: -webkit-flex;
  display: flex;
}


ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: left;
}

li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}




article {
  -webkit-flex: 3;
  -ms-flex: 3;
  flex: 3;
  padding: 10px;
}


footer {
  padding: 10px;
  text-align: center;
  color: white;
}

table{
	text-align: center;
}

h1{
	color: Black;
	font-family: verdana;
	font-size: 300%;
	text-align: left;

}
p{
	font-family: Times New Roman;
	font-size: 18px;
	color: black;
	text-align: right;
}

th{
	background-color: green;
	font-size: 18px;
	font-family: Times New Roman;
	padding: 15px;
}

@media (max-width: 600px) {
  section {
    -webkit-flex-direction: column;
    flex-direction: column;
  }
}